table {
  border: 1px solid;
  border-collapse: collapse;
  padding: 6px;
  width: 90%;
}
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 6px;
  /* width: 90%; */
}
.tableWrapper {
  /* display: flex;
    justify-content: center; */

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
